[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
gunicorn = "*"
httptools = "*"
tortoise-orm = "*"
httpx = "*"
asyncpg = "*"

[dev-packages]
debugpy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-asyncio = "*"
black = "*"
requests = "*"
requests-mock = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
